* {
    margin: 0vh auto 5vh auto;
}

/* #main {
	
} */

.herogrid {
    width: 100%;
    grid-template-columns: 100vw;
}

#title {
    margin-top: 5vh;
    text-align: center;
}

#titlesubtext {
    text-align: center;
}

#img-div {
    display: flex;
    justify-content: center;
}

/* #image {

} */

#image-caption {
    text-align: center;
}

#tribute-heading {
    text-align: center;
}

#tribute-info {
    margin: 2.5vh 30vw 5vh 30vw;
}